<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="productstyle.css">
    <title>ETERNAL ATAKE - Clout Talk</title>
</head>
<body>

<header>
    <section class="top">
        <figure>
            <img src="../../img/logo.png" alt="Clout Talk">
        </figure>
        <div class="spacer">
    
        </div>
        <p>
            <i>from rappers by rappers</i> 
        </p>
      </section>
</header>
<nav>
    <ul>
      <li><a href="../../index.html">HOME</a></li>
      <li><a href="#">HOT SALES 🔥</a></li>
      <li class="dropdown">
        <p class="dropbtn">CATEGORIES</p>
        <div class="dropdown-content">
          <a href="../categories/clothes.html">CLOTHES</a>
          <a href="../categories/albums.html">ALBUMS</a>
          <a href="../categories/accessories.html">ACCESSORIES</a>
        </div>
      </li>
      <li><a href="../contact/contact.html">CONTACT US</a></li>
      <li><a href="../cart/cart.html">(3)🛒CART</a></li>
    </ul>
  </nav>
<h1 style = "background-image: url(../img/uzibanner.png);">Lil Uzi Vert - ETERNAL ATAKE (CD): </h1>
<main>
    <section class="mainbit">
        <div class="imgs">
          <div class="biggie">
              <figure>
                  <img id="expandedImg" src="../img/eauzi.jpg" alt="">
              </figure>
            </div>
            <div class="sidecontent">
              <figure>
                <img src="../img/eauzi.jpg" alt="" onclick="myFunction(this);">
            </figure>
              <figure>
                <img src="../img/eadif.png" alt="" onclick="myFunction(this);">
              </figure>
              <figure>
                <img src="../img/futsal.png" alt="" onclick="myFunction(this);">
              </figure>
                
            </div>

        </div>
        <div class="price">
            
                <h3>Tracklist: </h3>
                <p> 
                <br>01 Baby Pluto
                <br>02 Lo Mein
                <br>03 Silly Watch
                <br>04 Pop
                <br>05 You Better Move
                <br>06 Homecoming
                <br>07 I’m Sorry
                <br>08 Celebration Station
                <br>09 Bigger Than Life
                <br>10 Chrome Hearts Tags
                <br>11 Bust Me
                <br>12 Prices
                <br>13 Urgency [ft. Syd]
                <br>14 Venetia
                <br>15 P2 (The End)
                <br>16 Futsal Shuffle
                <br>17 That Way</p>
            <h3>Price: $19.99</h3>
            <button>ADD TO CART</button>
        </div>
    </section>
    <article>
        <h2>Description: </h2>
        <p>
            Eternal Atake is the second studio album by American rapper Lil Uzi Vert. It is his first project since his 2017 studio album Luv Is Rage 2. After being initially announced in 2018, the album was released on March 6, 2020, through Generation Now and Atlantic Records as a surprise release. The album was supported by the singles "Futsal Shuffle 2020" and "That Way", which later appeared as the album's bonus tracks. The album features a guest appearance from American singer Syd.

Eternal Atake received widespread acclaim and debuted atop the US Billboard 200, becoming Lil Uzi Vert's second US number-one album. The deluxe version of the album, titled Lil Uzi Vert vs. the World 2, was released a week later on March 13.
        </p>
    </article>
    <section class="polec">
    <h2>
        🛎️ From the same category: 🛎️ 
      </h2>
      <figure>
        <img src="../img/dave.jpg" alt="">
        <p>Dave - Psychodrama</p>
        <button><span>$27.99</span></button>
      </figure>
      <figure>
        <img src="../img/rodeo.jpg" alt="">
        <p>Travis Scott - RODEO (CD)</p>
        <button><span>$25.99</span></button>
      </figure>
      <figure>
        <img src="../img/rocky.jpg" alt="">
        <p>A$AP Rocky - Testing</p>
        <button><span>$25.99</span></button>
      </figure>

    </section>

    <section class="dawaj">
        <h2>
            😎 You may also like: 😎 
          </h2>
          <figure>
            <img src="../img/hightshirt.jpg" alt="">
            <p>Cactus Jack X NIKE - Highest T-Shirt</p>
            <button><span>$199.99</span></button>
          </figure>
          <figure>
            <img src="../img/yunglean.jpg" alt="">
            <p>Yung Lean & sadboys - Official T-shirt</p>
            <button><span>$99.99</span></button>
          </figure>
          <figure>
            <img src="../img/gucciheadband.jpg" alt="">
            <p>GUCCI Headband</p>
            <button><span>$225.99</span></button>
          </figure>
    
        </section>
</main>
<footer>
  <section class="menufoot">
      <ul>
        <li><a href="../categories/clothes.html">CLOTHES</a></li>
        <li><a href="../categories/albums.html">ALBUMS</a></li>
        <li><a href="../categories/accessories.html">ACCESSORIES</a></li>
      </ul>
  </section>
  <section class="text">
    <p>We are Clout Talk. A simple idea started by a group of rap fans. The idea quicky went to a simple podcast. A simple podcast went quickly to a whole youtube channel. From there, we decided to make our own store - The Clout Store. A store that is for rappers. A store that has everything that a young, or old, hiphop head would want. We have no "centre". As for our contacts - The main warehouse: Pyskowice, Poland Szopena 12 street. Our main email is: clouttalk@byreqz.de. Our business phone numer is 511997069.</p>
  </section>
  <section class="social">
    <a href=""><img src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Facebook_colored_svg_copy-512.png" alt=""></a>
    <a href=""><img src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Linkedin_unofficial_colored_svg-512.png" alt=""></a>
    <a href=""><img src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Pinterest_colored_svg-512.png" alt=""></a>
    <a href=""><img src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Instagram_colored_svg_1-512.png" alt=""></a>
    <a href=""><img src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Twitter3_colored_svg-512.png" alt=""></a>
    <a href=""><img src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Youtube_colored_svg-512.png" alt=""></a>
  </section>
  <section class="copy">
    <p>&copy; 2020 Radek Olesinski - clouttalk.de</p>
  </section>
</footer>
  <script src="gallery.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>