<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="contactstyle.css">
    <title>CONTACT US - Clout Talk</title>
</head>
<body>

<header>
    <section class="top">
        <figure>
            <img src="../img/logo.png" alt="Clout Talk">
        </figure>
        <div class="spacer">
    
        </div>
        <p>
            <i>from rappers by rappers</i> 
        </p>
      </section>
</header>
<nav>
    <ul>
      <li><a href="../../index.html">HOME</a></li>
      <li><a href="#">HOT SALES 🔥</a></li>
      <li class="dropdown">
        <p class="dropbtn">CATEGORIES</p>
        <div class="dropdown-content">
            <a href="../categories/clothes.html">CLOTHES</a>
            <a href="../categories/albums.html">ALBUMS</a>
        </div>
      </li>
      <li><a href="#">CONTACT US</a></li>
      <li><a href="../cart/cart.html">(3)🛒CART</a></li>
    </ul>
  </nav>
  <h1 style = "background-image: url(../img/dojacontact.jpg);">CONTACT US: </h1>
<main>
    <section>
        <form name="htmlform" method="post" action="toyousender.php">
        <input type="text" name="first_name" placeholder="NAME" required>  
        <input  type="email" name="email" placeholder="MAIL" required> 
        <textarea name="comments" placeholder="MESSAGE" required rows="10"></textarea> 
        <button name="send" type="submit" class="submit">SEND</button>
    </section>
    <aside>
        <h2>About us:</h2>
        <p>Phone: 511997069</p>
        <p>email: clouttalk@byreqz.de</p>
        <p>Address: Pyskowice, Poland Szopena 12</p>
    </aside>
</main>
<footer>
  <section class="menufoot">
      <ul>
        <li><a href="../categories/clothes.html">CLOTHES</a></li>
        <li><a href="../categories/albums.html">ALBUMS</a></li>
        <li><a href="../categories/accessories.html">ACCESSORIES</a></li>
      </ul>
  </section>
  <section class="text">
    <p>We are Clout Talk. A simple idea started by a group of rap fans. The idea quicky went to a simple podcast. A simple podcast went quickly to a whole youtube channel. From there, we decided to make our own store - The Clout Store. A store that is for rappers. A store that has everything that a young, or old, hiphop head would want. We have no "centre". As for our contacts - The main warehouse: Pyskowice, Poland Szopena 12 street. Our main email is: clouttalk@byreqz.de. Our business phone numer is 511997069.</p>
  </section>
  <section class="social">
    <a href=""><img src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Facebook_colored_svg_copy-512.png" alt=""></a>
    <a href=""><img src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Linkedin_unofficial_colored_svg-512.png" alt=""></a>
    <a href=""><img src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Pinterest_colored_svg-512.png" alt=""></a>
    <a href=""><img src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Instagram_colored_svg_1-512.png" alt=""></a>
    <a href=""><img src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Twitter3_colored_svg-512.png" alt=""></a>
    <a href=""><img src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Youtube_colored_svg-512.png" alt=""></a>
  </section>
  <section class="copy">
    <p>&copy; 2020 Radek Olesinski - clouttalk.de</p>
  </section>
</footer>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>